parameters:
	ignoreErrors:
		-
			message: "#^Property Guanguans\\\\LaravelExceptionNotify\\\\Collectors\\\\ApplicationCollector\\:\\:\\$container \\(Illuminate\\\\Foundation\\\\Application\\|Laravel\\\\Lumen\\\\Application\\) does not accept Illuminate\\\\Container\\\\Container\\.$#"
			count: 1
			path: src/Collectors/ApplicationCollector.php

		-
			message: "#^Access to protected property Guanguans\\\\LaravelExceptionNotify\\\\Macros\\\\CollectionMacro\\:\\:\\$items\\.$#"
			count: 1
			path: src/Macros/CollectionMacro.php

		-
			message: "#^Access to protected property Guanguans\\\\LaravelExceptionNotify\\\\Macros\\\\StringableMacro\\:\\:\\$value\\.$#"
			count: 4
			path: src/Macros/StringableMacro.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 3
			path: src/Macros/StringableMacro.php
