<?xml version="1.0" encoding="UTF-8"?>
<psalm
  cacheDirectory="./.build/psalm/"
  errorBaseline="psalm-baseline.xml"
  errorLevel="4"
  findUnusedBaselineEntry="true"
  findUnusedCode="false"
  findUnusedVariablesAndParams="true"
  resolveFromConfigFile="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
  <projectFiles>
    <directory name="config"/>
    <directory name="src"/>
    <ignoreFiles allowMissingFiles="true">
      <directory name="vendor"/>
      <file name="src/UpdateHelper.php"/>
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <InaccessibleProperty>
      <errorLevel type="suppress">
        <directory name="src/Macros"/>
      </errorLevel>
    </InaccessibleProperty>
    <TooManyArguments>
      <errorLevel type="suppress">
        <file name="src/Macros/StringableMacro.php"/>
      </errorLevel>
    </TooManyArguments>
    <InvalidReturnStatement>
      <errorLevel type="suppress">
        <directory name="src/Pipes"/>
      </errorLevel>
    </InvalidReturnStatement>
    <InvalidReturnType>
      <errorLevel type="suppress">
        <directory name="src/Pipes"/>
      </errorLevel>
    </InvalidReturnType>
  </issueHandlers>

  <plugins>
    <!--<pluginClass class="Psalm\LaravelPlugin\Plugin"/>-->
  </plugins>
</psalm>
