# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to function is_string\(\) with \*NEVER\* will always evaluate to true\.$#'
            count: 1
            path: ../src/ExceptionNotifyServiceProvider.php
