# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot call method getActionName\(\) on object\|string\.$#'
            count: 1
            path: ../src/Collectors/RequestBasicCollector.php

        -
            message: '#^Cannot call method gatherMiddleware\(\) on object\|string\.$#'
            count: 1
            path: ../src/Collectors/RequestMiddlewareCollector.php
