# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Anonymous function should return Guanguans\\Notify\\Foundation\\Client but returns Guanguans\\Notify\\Foundation\\Concerns\\HasHttpClient\.$#'
            count: 1
            path: ../src/Commands/TestCommand.php
