# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Dynamic call to static method Guanguans\\LaravelExceptionNotify\\Channels\\Channel\:\:shouldReport\(\)\.$#'
            count: 1
            path: ../src/Commands/TestCommand.php
