name: tests

on:
  workflow_dispatch:
  push:
  pull_request:

env:
  COMPOSER_NO_SECURITY_BLOCKING: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ['8.1', '8.3', '8.4', '8.5']
        dependency-version: [prefer-stable]
        laravel: ['10.*', '11.*', '12.*', '13.*']
        include:
          - laravel: 10.*
            testbench: 8.*
          - laravel: 11.*
            testbench: 9.*
          - laravel: 12.*
            testbench: 10.*
          - laravel: 13.*
            testbench: 11.*
        exclude:
          - php: 8.1
            laravel: 11.*
          - php: 8.1
            laravel: 12.*
          - php: 8.5
            laravel: 10.*
          - laravel: 13.*
            php: '8.1'

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update --ansi -v
          composer require "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update --dev --ansi -v
          composer update --${{ matrix.dependency-version }} --no-interaction --ansi -v

      - name: Execute tests
        run: composer test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./.build/phpunit/clover.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
